{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'core_campania_list' %}">campania Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>name</td>
    <td>slug</td>
    <td>created</td>
    <td>last_updated</td>
    <td>fecha_desde</td>
    <td>fecha_hasta</td>
    <td>dias_duracion</td>
    <td>region</td>
    <td>comuna</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.name }}</td>
    <td>{{ object.slug }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
    <td>{{ object.fecha_desde }}</td>
    <td>{{ object.fecha_hasta }}</td>
    <td>{{ object.dias_duracion }}</td>
    <td>{{ object.region }}</td>
    <td>{{ object.comuna }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'core_campania_create' %}">Create new campania</a>
{% endblock %}